---
import projectsData from '../../data/cv.json';
import Layout from '../../layouts/Layout.astro';
import "../../styles/global.css";

export async function getStaticPaths() {
  const paths = projectsData.projects.map(project => ({
    params: { slug: project.slug }
  }));
  return paths;
}

const { slug } = Astro.params;
const project = projectsData.projects.find(project => project.slug === slug);

if (!project) {
  throw new Error('Estudi no trobat');
}
---

<Layout>

  <section class="min-h-screen bg-gradient-to-br from-indigo-300 to-purple-300 py-20 px-6 flex justify-center items-center">
    <div class="bg-white rounded-2xl shadow-2xl max-w-4xl w-full flex flex-col md:flex-row overflow-hidden">
      
      <div class="md:w-1/3">
        <img 
          src={project.image} 
          alt={project.name} 
          class="w-full h-100 object-cover items-center"
        />
      </div>

      <div class="md:w-1/2 p-8 text-gray-800">
        <h1 class="text-3xl md:text-5xl font-bold mb-4 text-indigo-700">{project.name}</h1>
        <p class="text-base md:text-lg text-gray-600 mb-6">{project.description}</p>
        <video src="/src/assets/video.mp4" autoplay></video>

        <h3 class="text-2xl md:text-3xl font-bold mb-4 text-indigo-400">OBJECTIUS</h3>
        <p class="text-base md:text-lg text-gray-600 mb-6">{project.objectiu}</p>
        <h3 class="text-2xl md:text-3xl font-bold mb-4 text-indigo-400">REPTE</h3>
        <p class="text-base md:text-lg text-gray-600 mb-6">{project.repte}</p>
        <h3 class="text-2xl md:text-3xl font-bold mb-4 text-indigo-400">EINES</h3>
        <p class="text-base md:text-lg text-gray-600 mb-6">{project.eines}</p>

       
        <a 
          href="/" 
          class="inline-block bg-indigo-600 text-white font-semibold px-5 py-3 rounded-lg hover:bg-yellow-300 hover:text-black transition-colors duration-300"
        >
          ← Tornar al Inici
        </a>
      </div>
      
    </div>
    
  </section>
  <div class=" bg-gradient-to-br from-indigo-300 to-purple-300 py-20 px-6 flex justify-center ">
  <nav>
    <h1 class="text-3xl md:text-5xl font-bold mb-4 text-indigo-900">Politica d'us</h1>
    <h1 class="text-2xl md:text-3xl font-bold mb-4 text-indigo-900">CC BY-SA</h1>

    <p>This license enables reusers to distribute, remix, adapt, and build upon the material in any medium or format, so long as attribution is given to the creator. The license allows for commercial use. If you remix, adapt, or build upon the material, you must license the modified material under identical terms. CC BY-SA includes the following elements:</p>  
    <img src="src/assets/image.png" alt="">
  </nav>
  </div>
</Layout>
